@import "./breakpoints.scss";

.hero-banner {
    background-color: #e5e5e5;
    background-image: url("../img/black-and-white-texas-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;  

    @media #{$breakpoint-mobile-and-tablet} {
      min-height: 500px;
    }
   
    p {
      color: $tal-green-dark;
    }
  }